*.swp
.DS_Store
.cache
*dependency-reduced-pom.xml

# intellij files
.idea/*
!.idea/vcs.xml
!.idea/icon.svg
.idea_modules/
*.ipr
*.iws
*.iml

# gradle build
.gradle
build/apache-maven*
gradle/
out
gradle/wrapper/gradle-wrapper.jar

.mvn/wrapper/*.jar
.mvn/maven.config

__pycache__/
*.py[cod]
.eggs/
.tox/
env/
venv/
*.egg-info/
test-reports
build/
.coverage
coverage.xml
.pytest_cache/
spark/tmp/
spark/spark-warehouse/

# vscode/eclipse files
.classpath
.project
bin/

# Hive/metastore files
metastore_db/

# Python stuff
python/.mypy_cache/

# logs
logs/
core/derby.log
*.log

# target
target/

# keberos configs
*amoro_krb_conf/

# local config
conf/


# test resources
*unit_test_base_tmp/

*/.gitignore
*.tgz

# dashboard static resources
amoro-web/src/main/resources/static/
amoro-web/node/

!dist/src/main/amoro-bin/bin/
!dist/src/main/amoro-bin/conf/
