
//
// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.config-properties{width:100%;display:flex;flex-direction:column;line-height:32px}.config-properties .config-header{width:100%;padding-right:32px;background:#fafafa;border-bottom:1px solid #e8e8f0}.config-properties .config-header .td{width:50%;height:40px;padding:8px 12px;color:#102048;font-weight:500}.config-properties .config-header .bd-left{position:relative}.config-properties .config-header .bd-left:before{position:absolute;top:50%;left:0;width:1px;height:1.6em;background-color:#0000000f;transform:translateY(-50%);transition:background-color .3s;content:""}.config-properties .config-row{display:flex;position:relative;padding-right:32px;width:100%}.config-properties .config-row .ant-form-item,.config-properties .config-row .ant-select-auto-complete{width:50%}.config-properties .config-row .ant-select-auto-complete input{color:#79809a}.config-properties .config-row .ant-input{width:50%}.config-properties .config-row .icon-close{cursor:pointer;position:absolute;right:8px;top:12px;font-size:12px}.config-properties .config-row .icon-close.disabled{cursor:not-allowed}.config-properties .config-btn{border-radius:4px;width:100%;border:1px solid #e5e5e5;text-align:center;color:#102048;box-shadow:none}
