# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Core/hadoop2 CI with Maven

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - "master"
      - "0.**"

  pull_request:
    branches:
      - "master"
      - "0.**"
    paths:
      - ".github/workflows/**"
      - "amoro-ams/**"
      - "amoro-core/**"
      - "amoro-format-mixed/amoro-format-mixed-flink/**"
      - "amoro-format-mixed/amoro-format-mixed-hive/**"
      - "amoro-format-mixed/amoro-format-mixed-spark/**"
      - "pom.xml"
      - "tools/maven/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Validate checkstyle first
        run: mvn validate

      - name: Build all module with Maven
        run: mvn clean install -Djacoco.flink.skip=true -B -ntp -Phadoop2

      - name: Code coverage
        uses: codecov/codecov-action@v3
        with:
          verbose: true
          flags: core
